// GNU GPL v3 License
// Copyright (c) 2019 github.com:go-trellis

// package main

// import (
// 	"fmt"

// 	"github.com/go-trellis/tgorm"
// 	"github.com/jinzhu/gorm"
// )

// var (
// 	dbs map[string]*gorm.DB
// )

// type Sample struct {
// 	ID   string `gorm:"column:id"`
// 	Name string `gorm:"column:Name"`
// }

// func (*Sample) TableName() string {
// 	return "t_km_servers"
// }

// func main() {
// 	var err error
// 	dbs, err = tgorm.NewDBsFromFile("mysql.yaml")
// 	if err != nil {
// 		panic(err)
// 	}

// 	db := dbs[tgorm.DefaultDatabase]
// 	if db == nil {
// 		panic(tgorm.ErrNotFoundGormDB.New())
// 	}

// 	var ss []Sample
// 	newDB := db.Find(&ss)
// 	if newDB.Error != nil {
// 		panic(newDB.Error)
// 	}
// 	fmt.Println(ss)
// }
